@model DSPCHR.Models.SubscriptionOfferWideMessage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubscriptionOfferWideMessage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SendAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SendAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
