@model DSPCHR.ViewModels.SubscriberListViewModel

@{
    ViewData["Title"] = "Subscribers";
}

<h1>List</h1>

<h3 class="text-right">Total: @Model.Subscribers.TotalItems</h3>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="row">
    <form asp-action="Index" class="form-inline" method="get">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span><strong>Last Subscribed &nbsp;</strong></span>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">From</div>
            </div>
            <input asp-for="@Model.From">
        </div>

        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
                <div class="input-group-text">To</div>
            </div>
            <input asp-for="@Model.To">
        </div>

        <button type="submit" class="btn btn-primary mb-2">Filter</button>
    </form>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault())*@
                MSISDN
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().IsActive)*@
                IsActive
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().ShortCode)*@
                ShortCode
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().OfferCode)*@
                OfferCode
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().FirstSubscribedAt)*@
                FirstSubscribedAt
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().LastSubscribedAt)*@
                LastSubscribedAt
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Subscribers.Data.FirstOrDefault().LastUnsubscribedAt)*@
                LastUnsubscribedAt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Subscribers.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Msisdn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfferCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstSubscribedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSubscribedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUnsubscribedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <cs-pager 
        cs-paging-pagesize="@Model.Subscribers.PageSize"
        cs-paging-pagenumber="@Model.Subscribers.PageNumber"
        cs-paging-totalitems="@Model.Subscribers.TotalItems"
        cs-pagenumber-param="pageNumber"
        cs-paging-maxpageritems="10"
        cs-show-first-last="false"
        cs-show-numbered="false"
        cs-use-reverse-increment="false"
        cs-suppress-empty-nextprev="true"
        cs-previous-page-text="< Newer"
        cs-next-page-text="Older >"
        cs-pager-li-current-class="page-item active"
        cs-pager-li-other-class="page-item"
        cs-pager-li-non-active-class="page-item disabled"
        cs-pager-link-current-class="page-link"
        cs-pager-link-other-class="page-link"
        asp-controller="Subscribers"
        asp-action="Index"
        asp-route-phoneNumber="@Model.PhoneNumber"
        asp-route-to="@Model.To?.ToString("s")"
        asp-route-from="@Model.From?.ToString("s")"
        asp-route-subscriptionStatus="@Model.SubscriptionStatus">
    </cs-pager>
</div>