@model DSPCHR.Models.Offer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfferCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfferCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeactivationKeywords)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeactivationKeywords)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationWelcomeMessage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationWelcomeMessage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortCodeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortCodeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
